#musicSlider .track {
     -fx-background-color: #ffffff;
}

#musicSlider .thumb {
     -fx-background-color: #c18303;
     visibility: hidden;
}

#musicSlider .colored-track {
     -fx-background-color: #c18303;
}

#musicSlider .animated-thumb {
     -fx-background-color: #001421;
}

#musicSlider .slider-value {
     -fx-stroke: #c18303;
}